body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"], input[type="date"], input[type="file"],select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.clear {background-color: #f44336;}
/*#input-coilQr, #input-locationQr {display: none;}
#reader {display: none;}*/
.scan-icon {
    display: inline-block;
    cursor: pointer;
    width: 50px;  /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUf1PVtG7cM-HUe5XfC6hUF_FBGwjV3SqcbQ&s'); /* Replace with your scan icon image URL */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #ccc; /* Optional: add a border */
    border-radius: 50%; /* Optional: make it circular */
}